
@{
    ViewData["Title"] = "CreateTable";
}

<h1>Create New Table</h1>

<p>
    The @ViewBag.TableName container is created
    @(ViewBag.result == true ? "successfully!": "failed! Maybe table exists!")
</p>
