@model DDAC_Assignment.Models.WasteServices

@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";

    List<SelectListItem> serviceSize = new List<SelectListItem>();
    serviceSize.Add(new SelectListItem() { Text = "Small", Value = "samll" });
    serviceSize.Add(new SelectListItem() { Text = "Medium", Value = "medium" });
    serviceSize.Add(new SelectListItem() { Text = "Large", Value = "large" });
}

<h1>Create</h1>

<h4>WasteServices</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" enctype="multipart/form-data">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="servicesTitle" class="control-label"></label>
                <input asp-for="servicesTitle" class="form-control" />
                <span asp-validation-for="servicesTitle" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="serviceDescription" class="control-label"></label>
                <input asp-for="serviceDescription" class="form-control" />
                <span asp-validation-for="serviceDescription" class="text-danger"></span>
            </div>
            <!--
                <div class="form-group">
                <label asp-for="serviceMediaURL" class="control-label"></label>
                <input asp-for="serviceMediaURL" class="form-control" />
                <span asp-validation-for="serviceMediaURL" class="text-danger"></span>
            </div>
            -->
            <div class="form-group">
                <label asp-for="serviceSize" class="control-label"></label>
                <!-- <input asp-for="serviceSize" class="form-control" /> -->
                <select class="form-control" id="serviceSize" name="serviceSize">
                    <option value="">Select Size</option>
                    <option value="small">Small</option>
                    <option value="medium">Medium</option>
                    <option value="large">Large</option>
                </select>
                @*@Html.DropDownList("SizeList", serviceSize, "Select Size")*@
                <span asp-validation-for="serviceSize" class="text-danger"></span>
            </div>
            <div>
                <label class="control-label">Input Image</label>
                <input type="file" name="serviceImg"/>
            </div>
                
            
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
        
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
