
@{
    ViewData["Title"] = "UploadFileFromForm";
}

<center>
    <h1>Learn how to upload a file to a blob storage!</h1>
    <form method="post" asp-controller="Blobs" asp-action="UploadFileFromForm"
          enctype="multipart/form-data">
        <p>
            You can upload one / more files 
            Choose your files at here:
        </p>
        <input type ="file" name="files" multiple />
        <br/>
        <br/>
        <input type ="submit" value="Upload File Now!"/>
    </form>
</center>

@if (ViewBag.msg !=null)
            {
    <script>alert("@ViewBag.msg");</script>
            }

